@charset "utf-8";
#plusinfo_cont{
	position: absolute;
	z-index: 2100;
	width: 100%;
}
#plusinfo{
	width: 900px;
	padding: 30px;
	background-color: #fde9d9;
	margin: 210px auto;
	color: #996c33;
	line-height: 22px;
}
.plusinfo_block{
	margin-top: 20px;
	font-size: 16px;
}
.plusinfo_title{
	color: #de877d;
	font-weight: bold;
}
.plusinfo_adding{
	padding: 10px 0;
	overflow: hidden;
	height: auto;
	line-height: 34px;
}
.plusinfo_des{
	font-size: 14px;
}
.plusinfo_label{
	color: #44c5d1;
	font-size: 16px;
	background-color: #bbe1e8;
	padding: 5px;
	margin-right: 5px;
}
.plusinfo_label_close{
	color: #FFF;
	cursor: pointer;
	margin-left: 7px;
}